* {
	margin:0;
	padding: 0;
}

body {
	background: url("Space.png");
}

.container {
	width: 80%;
	margin: 0 auto;
}

#banner {
	background: url("Star Wars Banner.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
	height: 100px;
	width:90%;
	border: 3px solid yellow;
	background-color:black;
	padding:30px;
}
h1 {
	font-family:david;
	font-size:50px;
	color:rgb(211, 235, 49);
	padding:5px;
	width:60%;
	margin: 20px auto;
	text-align: center;
}

#nav li {
	list-style: none;
	display: inline-block;
	font-family:arial;
	padding:7px;
	font-size:20px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color:rgb(211, 235, 49);
}

a:hover {
	color: black;
	background-color: yellow;
}

p {
	color:yellow;
}

#class {
	width: 43%;
	display:inline-block;
	padding:20px;
	margin: 0 auto;
}

#rebels {
	border: 2px solid yellow;
	background-color:black;
	color:rgb(211, 235, 49);
	padding:5px;
}

#empire {
	border: 2px solid yellow;
	background-color:black;
	color:rgb(211, 235, 49);
	padding:5px;
}

#pic1 {
	border:3px solid yellow;
	background-color:grey;
	width:20%;
	margin-top:10px;
}

#pic2 {
	border:3px solid yellow;
	background-color:grey;
	width:20%;
	margin-top:10px;
}

#good-guys {
	float:left;
	width:45%;
}

#bad-guys {
	float:right;
	width:45%;
}

#pic3 {
	border:3px solid yellow;
	background-color:grey;
	width:100%;
}

#pic4 {
	border:3px solid yellow;
	background-color:grey;
	width:100%;
	margin-top:125px;
}

#pic5 {
	border:3px solid yellow;
	background-color:grey;
	width:100%;
}

#pic6 {
	border:3px solid yellow;
	background-color:grey;
	width:100%;
}

#text1 {
	border: 2px solid yellow;
	background-color:black;
	color:rgb(211, 235, 49);
	padding: 5px;
	margin-bottom:5px;
}

#text2 {
	border: 2px solid yellow;
	background-color:black;
	color:rgb(211, 235, 49);
	padding: 5px;
	margin-bottom:5px;
}

#text3 {
	border: 2px solid yellow;
	background-color:black;
	color:rgb(211, 235, 49);
	padding: 5px;
	margin-bottom:5px;
}

#text4 {
	border: 2px solid yellow;
	background-color:black;
	color:rgb(211, 235, 49);
	padding: 5px;
	margin-bottom:5px;
}